<ion-grid>
    <ion-row>
        <ion-col class="ion-text-center" size="12">
            <ion-text>
                Add item
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="4" class="ion-text-center">
            <ion-label>square</ion-label>
            <div class="figure item-square ion-text-center bg-default"
                (click)="addItemToRoom(2)"></div>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
            <ion-label>rhomb</ion-label>
            <div class="figure item-rhomb ion-text-center bg-default"
                (click)="addItemToRoom(3)"></div>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
            <ion-label>circle</ion-label>
            <div class="figure item-circle ion-text-center bg-default"
                (click)="addItemToRoom(4)"></div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="ion-text-center">
            <ion-label>horizontal rectangle</ion-label>
            <div class="figure item-horizontal-rectangle ion-text-center bg-default"
                (click)="addItemToRoom(0)"></div>
        </ion-col>

        <ion-col size="6" class="ion-text-center">
            <ion-label>vertical rectangle</ion-label>
            <div class="figure item-vertical-rectangle ion-text-center bg-default"
                (click)="addItemToRoom(1)"></div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4" class="ion-text-center">
            <ion-label>vertical wall</ion-label>
            <div class="figure item-vertical-wall ion-text-center bg-default"
                (click)="addItemToRoom(5)"></div>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
            <ion-label>horizontal wall</ion-label>
            <div class="figure item-horizontal-wall ion-text-center bg-default"
                (click)="addItemToRoom(6)"></div>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
            <ion-label>text</ion-label>
            <div class="figure item-text ion-text-center no-select"
                (click)="addItemToRoom(7)">
                ABC123
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
