<div class="wrapper">
    <div *ngFor="let roomItem of roomItems; let index = index;"
        class="parent-figure animated fadeIn"
        [cdkDragBoundary]="roomItem.parent"
        [cdkDragDisabled]="roomItem.locked"
        [cdkDragFreeDragPosition]="{x: roomItem.position.x, y: roomItem.position.y}"
        (dblclick)="toggleLockItem(roomItem)"
        (cdkDragStarted)="selectRoomItem(roomItem)"
        (cdkDragEnded)="setPositionRoomItem($event, roomItem)"
        (press)="openOptions($event, roomItem)" cdkDrag>

        <ion-badge class="badge-lock"
            [ngClass]="{'badge-lock-fix-text': roomItem.type === 7}"
            [color]="roomItem.bgColor !== 5 ? 'warning' : 'danger'"
            *ngIf="roomItem.locked">
            <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-badge>

        <ion-text [color]="roomItem | roomItemTextColor"
            *ngIf="![5, 6].includes(roomItem.type)"
            [ngClass]="{
                'text-item-fix-figure': roomItem.type !== 7,
                'item-text-hover-fix': roomItem.type === 7,
                'cursor-no-drop': roomItem.locked,
                'cursor-move': !roomItem.locked
            }"
            class="ion-text-center no-select text-item" [title]="roomItem.content">

            {{ (roomItem.content ? roomItem.content : '---') | textItemFixFigure: roomItem }}

        </ion-text>

        <div class="item-figure ion-activatable ripple-parent"
            [ngClass] = "roomItem | roomFigure">
            <ion-ripple-effect *ngIf="roomItem.type !== 7"></ion-ripple-effect>
        </div>
    </div>
</div>
