.bg-cook {
    width: 1086px;
    margin-left: auto;
    margin-right: auto;
}

.cook {
    height: 500px;
    background-color: #F7F7F7;
    margin-top: 30px;
    padding: 30px;
    position: relative;
}

@media(min-width: 768px){
    .bg-cook {
        padding-left: 100px;
        padding-right: 102px;
    }
}

@media(max-width: 767px){
    .bg-cook {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.add-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #F7F7F7;
    border-radius: 50%;
    top: 0px;
    left: 427px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 400ms;
}

.add-icon:hover {
    background-color: #e4e4e4;
}

.add-scroll {
    overflow-x: auto;
}
